:root {
  --game-max-width: 500px;
  --color-correct: rgb(83, 141, 78);
  --color-present: rgb(181, 159, 59);
  --color-wrong: rgb(58, 58, 60);
}

body {
  background-color: #121212;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  font-size: clamp(1rem,6.5vmin,1.5rem);

  margin: 0;
  color: white;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----------------------- NAV --------------------------------------- */

nav{
  margin: 0;
  height: 50px;
  width: 100%;
  border-bottom: solid 1px rgb(58,58,60);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0 0 1px 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 34px;
  transform: scaleX(0.9);
}

nav .nav-icons {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  font-size: 24px;
  width: 100px;
}
nav .nav-icons:last-child{
  justify-content: flex-end;
}

nav button{
  font-size: 20px;
  padding: 0;
  border: none;
  background-color: #121212;
  color: white;
  cursor: pointer;
}

.nav-language-icon {
  height: 18px;
  border: solid 2px white;
  border-radius: 50%;
}

/* ----------------------- GAME --------------------------------------- */

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;

  min-height: calc(100vh - 55px);

  transition: min-height 0.5s;
}



/* ----------------------- BOARD --------------------------------------- */

.board-container{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 350px;
  height: 420px;

  grid-template-columns: repeat(5, 2.6em);
  grid-template-rows: repeat(6, 2.6em);
  gap: 5px;
  box-sizing: border-box;
}
.tile {
  border: 2px solid rgb(58,58,60);
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.35em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  color: white;

  transition: transform 250ms linear;  /* timer for flip */
}
.tile.active {
  border-color: rgb(86,87,88);
}
.tile.wrong {
  background-color: rgb(58, 58, 60);
  border: none;
}
.tile.present{
  background-color: rgb(181, 159, 59);
  border: none;
}
.tile.correct{
  background-color: rgb(83, 141, 78);
  border: none;
}

/* ------------ TILE ANIMATIONS --------------- */

.tile.flip {
  transform: rotateX(90deg);
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}
@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}
@keyframes dance {
  20% {
    transform: translateY(-50%);
  }  
  40% {
    transform: translateY(5%);
  }  
  60% {
    transform: translateY(-25%);
  }  
  80% {
    transform: translateY(2.5%);
  }  
  90% {
    transform: translateY(-5%);
  }  
  100% {
    transform: translateY(0);
  }
}

/* ----------------------- KEYBOARD --------------------------------------- */

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, 0.5fr);
  grid-auto-rows: 58px;
  column-gap : 6px;
  row-gap: 8px;
  margin: 0 8px 6px 8px;
  max-width: min(484px,97vw);

  justify-content: center;
  align-content: center;
  width: 100%;
}
.key {
  grid-column: span 2;
  flex-grow: 1;
  color: white;
  fill: white;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 0.55em;
  font-weight: 700;
  background-color: rgb(129,131,132);
  padding: 0;

  border: none;
  border-radius: 4px;

  user-select: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.key.big {
  grid-column: span 3;
}
.key.wrong{
  background-color: rgb(58, 58, 60);
}
.key.present{
  background-color: rgb(181, 159, 59);
}
.key.correct{
  background-color: rgb(83, 141, 78);
}
#key-del {
  font-size: 0.8em;
}
.blank {
  grid-column: span 1;
}
.key .fas {
  pointer-events: none;
}


/* ----------------------- ALERTS --------------------------------------- */

.alert-container {
  position: fixed;
  top: 11.5vh;
  left: 50vw;
  transform: translate(-50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.alert {
  background-color: white;
  color: black;
  padding: .8em 1em;
  border-radius: 3px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: .7em;
  font-weight: 600;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}
.alert:last-child{
  margin-bottom: 0;
}
.alert.hide {
  opacity: 0;
}

/* ----------------------- STATS --------------------------------------- */

.stats-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  background-color: rgba(0,0,0,0.5);
}
.stats-card{
  height: 350px;
  width: 82vw;
  max-width: 434px;
  margin-top: 20vh;

  background-color: rgb(18,18,19);
  border: solid 1px rgb(26,26,27);
  border-radius: 8px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.overlay-button-close{
  align-self: flex-end;

  border: none;
  background: none;
  color: white;
  padding: 5px 5px;

  cursor: pointer;

  
}
.stats-card h2{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: .7em;
  font-weight: 900;
}
.stats-card p{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: .6em;
  font-weight: 500;
  margin: 10px 0 10px 0;
}
.stats-card .word{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: .8em;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.button-newGame{
  background-color: var(--color-correct);
  border: none;
  border-radius: 5px;
  padding: 10px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: .7em;
  font-weight: 500;
  color: inherit;

  cursor: pointer;
}

/* ----------------------- TUTO --------------------------------------- */

.tuto-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: rgba(0,0,0,0.9);
}
.tuto-card{
  height: 350px;
  width: 80vw;
  max-width: 468px;

  background-color: rgb(18,18,19);
  border: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tuto-card h2{
  font-family: Arial, sans-serif;
  font-size: .7em;
  font-weight: 900;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}
.tuto-card p{
  font-family: Arial, sans-serif;
  font-size: .6em;
  font-weight: 400;
  margin: 12px 0;
}
.tuto-card a{
  color: rgb(83, 141, 78);
}
.tuto-card b{
  font-family: Arial, sans-serif;
  font-weight: 900;
}

.tuto-title-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
}
.tuto-section {
  width: 100%;
}
.tuto-examples{
  border-bottom: solid 1px rgb(58,58,60);
  border-top: solid 1px rgb(58,58,60);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-bottom: 10px;
}

.tuto-examples-tilerow{
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(5, 1.7em);
  grid-template-rows: repeat(1, 1.7em);
  gap: 3px;

  margin-top: 10px;
}
.tuto-examples-tilerow .tile{
  font-size: 1.25em;
}


/* ----------------------- MEDIA QUERIES --------------------------------------- */

@media only screen and (max-width: 768px) {
  .game {
    min-height: calc(87vh - 55px);
  }
  .keyboard {
    column-gap: 5px;
    row-gap: 5px;
  }

}